*
{
	margin: 0;
	padding: 0;
}
body
{
	background: rgba(102,102,102,1);
	background: -moz-linear-gradient(left, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 0%, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(17,17,17,1) 0%, rgba(28,28,28,1) 48%, rgba(43,43,43,1) 80%, rgba(27,27,27,1) 90%, rgba(19,19,19,1) 95%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(0%, rgba(44,44,44,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(17,17,17,1)), color-stop(48%, rgba(28,28,28,1)), color-stop(80%, rgba(43,43,43,1)), color-stop(90%, rgba(27,27,27,1)), color-stop(95%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(left, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 0%, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(17,17,17,1) 0%, rgba(28,28,28,1) 48%, rgba(43,43,43,1) 80%, rgba(27,27,27,1) 90%, rgba(19,19,19,1) 95%);
	background: -o-linear-gradient(left, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 0%, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(17,17,17,1) 0%, rgba(28,28,28,1) 48%, rgba(43,43,43,1) 80%, rgba(27,27,27,1) 90%, rgba(19,19,19,1) 95%);
	background: -ms-linear-gradient(left, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 0%, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(17,17,17,1) 0%, rgba(28,28,28,1) 48%, rgba(43,43,43,1) 80%, rgba(27,27,27,1) 90%, rgba(19,19,19,1) 95%);
	background: linear-gradient(to right, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 0%, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(17,17,17,1) 0%, rgba(28,28,28,1) 48%, rgba(43,43,43,1) 80%, rgba(27,27,27,1) 90%, rgba(19,19,19,1) 95%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#131313', GradientType=1 );
	font-family: arial, sans-serif;
}
body h1
{
	margin-bottom: 50px;
}
.container
{
	width: 80%;
	min-width: 800px;
	max-width: 1200px;
	margin: auto;
	border: none;
	background-color: #fff;
	box-shadow: 0 0 15px #ccc;
	margin-bottom: 40px;
}
.main
{
	background-image: url(foreground.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	padding: 5% 25% 10% 25%;
	text-align: justify;
}
.submit
{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
}

.submit:hover 
{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
  
.textarea
{
	padding: 1px 20px;
    border: 0;
    height: 100px;
    width: 275px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;
    font-family: arial, sans-serif;
}

.customFont
{
	font-weight: bold;
	font-size: 20px;
}

.select
{
   margin-bottom: 20px;
   padding: 1px 20px;
   background: transparent;
   width: 310px;
   height: 35px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   -webkit-appearance: none;
   overflow: hidden;
   background: url(down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   
   border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;
}
